
@{
    string cateName = TempData["CateName"].ToString();
    ViewBag.Title = cateName;
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string dothtml = ".html";
    string path = TempData["MapPath"].ToString();
    var arrPath = path.Split('/');
}

<ul class="path-url">
    <li><a href="index.html">Trang chủ &nbsp; <i class="fa fa-angle-double-right"></i></a></li>
    @for (int i = 0; i < arrPath.Length - 1; i++)
    {
        <li><a href="index.html">@arrPath[i] &nbsp; <i class="fa fa-angle-double-right"></i></a></li>
    }
    <li><strong class="text-color-2">@cateName</strong></li>
</ul>
<div class="title">
    <h2><span>@cateName</span> </h2>
</div>
<div class="item-view-products square">
    <div class="view-items view-items-mobile">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="item-info">
                    <div class="img">
                        <figure>
                            <a href="/detail/@item.LinkSeo@dothtml" class="i-center">
                                <img alt="@item.Name" data-img="@item.Images" src="@item.Images" class="image-load">
                            </a>
                        </figure>
                        <div class="item-opacity">
                            <div class="quick-view">
                                <a href="/detail/@item.LinkSeo@dothtml" class="fa fa-arrows-alt fa-2x"></a>
                                <span class="btn btn-popup-detail"></span>
                            </div>
                        </div>
                        <div class="init-none title-bottom text-ellipsis">
                            <a href="/detail/@item.LinkSeo@dothtml">@item.Name</a>
                        </div>
                    </div>
                    <div class="info">
                        <div class="init-none rating-style rating-"></div>
                        <p class="p-name text-ellipsis">
                            <a href="/detail/@item.LinkSeo@dothtml">@item.Name</a>
                        </p>
                        <p class="init-none second-title"></p>
                        <p class="c-title"></p>
                        <div class="row-price-2">
                            <a class="btn btn-default btn-sm text-ellipsis" href="/chi-tiet/@item.LinkSeo@dothtml">
                                <i class="fa fa-angle-double-right"></i> Xem chi tiết
                            </a>
                        </div>
                        <div class="row row-price-1">
                            <div class="col-xs-6">
                                <div class="price">
                                    @{
                                        if (item.Price == null && item.Sale == null)
                                        {
                                            <p><span class="p-sale">Liên hệ</span></p>
                                        }
                                        else if (item.Sale != null && item.Price != null)
                                        {
                                            <p><span class="p-sale">@String.Format("{0:0,0}", item.Sale) Đ</span></p>
                                        }
                                        else if (item.Price != null && item.Sale == null)
                                        {
                                            <p><span class="p-sale">@String.Format("{0:0,0}", item.Price) Đ</span></p>
                                        }
                                        else if (item.Price == null && item.Sale != null)
                                        {
                                            <p><span class="p-sale">@String.Format("{0:0,0}", item.Sale) Đ</span></p>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-right btn-view-more">
                                    <a class="btn btn-default btn-sm text-ellipsis btn-block" onclick="addToCart(@item.ID)" href="javascript:void(0)">
                                        <i class="fa fa-shopping-cart"></i> Chọn mua
                                    </a>
                                </div>
                                <div class="text-right init-none">
                                    <span class="init-none btn btn-buy btn-buy-one" data-ajax-url="/api/post/addtocart" data-method="POST" data-format-json="true" data-params="{&quot;sid&quot;:&quot;1&quot;,&quot;pid&quot;:&quot;2883&quot;,&quot;add&quot;:&quot;1&quot;}" data-trigger-click=".modal.in .fa-times-circle" data-show-errors=".alert-footer.alert-error" data-show-success=".alert-footer.alert" data-elm-data="{&quot;showMoreInfo&quot;:&quot;1&quot;}" data-view-template=".online-ordering-list" data-template-id="entryCartInfo">
                                        <i class="fa fa-cart"></i>
                                    </span>
                                    <span class="init-none btn btn-buy btn-buy-two" data-ajax-url="/api/post/addtocart" data-method="POST" data-format-json="true" data-params="{&quot;sid&quot;:&quot;1&quot;,&quot;pid&quot;:&quot;2883&quot;,&quot;add&quot;:&quot;1&quot;}" data-trigger-click=".modal.in .fa-times-circle" data-show-errors=".alert-footer.alert-error" data-show-success=".alert-footer.alert" data-elm-data="{&quot;showMoreInfo&quot;:&quot;1&quot;}" data-redirect="/vi/orders"><i class="fa fa-cart"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                        }
    </div>
    <div class="block-css-inline" style="display:none;">
        <style type="text/css">
            .view-items-mobile {
                width: 915px;
            }
                .view-items-mobile .item {
                    width: 208.75px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
        </style>
    </div>
</div>
<div class="clearfix"></div>


