@using Web.Core
@{
    int page = (int)TempData["Page"];
    int tt = 0;
    if (page == 1)
    {
        tt = 0;
    }
    else
    {
        tt = (page - 1) * 10;
    }
}
@model List<Web.Model.News>
    <style>
        .actions{
            margin-left:5px
        }
    </style>
<div class="col-xs-12">
    <table class="table table-sm">
        <thead>
            <tr>
                <th style="text-align:center;">TT</th>
                <th>Tiêu đề</th>
                <th>Hình ảnh</th>
                <th>Mô tả</th>
                <th>Nội dung</th>
                <th>Ngày tạo</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                tt++;
                <tr>
                    <td style="text-align:center;">@tt</td>
                    <td>@item.MetaTitle</td>
                    <td><img style="width:50px" src="@item.Image" /></td>
                    <td>@item.Description</td>
                    <td>@HelperString.TruncateByWord(HelperString.StripHTML(HttpUtility.HtmlDecode(item.Contents)), 120)</td>
                    <td>@string.Format("{0:dd/MM/yyyy HH:mm}",item.CreatedDate)</td>
                    <td style="width:100px">
                        <a href="/admin/news/edit/@item.ID" class="btn btn-primary btn-bordered">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-danger btn-bordered" onclick="News.handleDeleteItem(@item.ID)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>